@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #e6e7eb;
  color: #101226;
  font-family: "Outfit", ui-sans-serif, system-ui, sans-serif;
}
